@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');

$MainColorText: #2D2D2D;
$SecondColorText: #111827;
$AdditionalColorText: #44A300;
$FontFamily: 'Manrope', sans-serif;
$TitleFontFamily: 'Oswald', sans-serif;
$time: 0.3s;
