.auth-form {
    .outline-btn {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        outline: 0;
        color: #374FC7;
        border: 1px solid #374FC7;
        background: #fff;
        cursor: pointer;
        margin-top: 5px;
    }
}

